/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:center;
	align-items:center;
}
img{
	width:60%;
	height:100vh;
	object-fit:cover;
}
button{
	padding:10px;
	color:white;
	border-radius:20px;
	
}